fastapi
uvicorn
sqlalchemy
python-multipart
langchain-community
langchain-ollama
langchain-experimental
langgraph
chromadb
sentence-transformers
pypdf
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
ragas==0.1.22
datasets==2.20.0